<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Imágenes</title>
    <script src="../js/jquery.min.js"></script>
    <link rel="icon" type="./img/png" sizes="32x32" href="../img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header id="header">
        <nav class="menu">
            <div class="logo-box">
                <img class="logo-principal" src="../img/favicon.png" width="120px">
            </div>
            <div class="samu">
                <p>Samu</p>
            </div>
            <div class="list-container">
                <ul class="lists">
                    <li><a href="../index.html" class="active">Inicio</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="presupuesto.html">Presupuesto</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
        <div class="skew-abajo"></div>
    </header>
    <!-- Contenedor de la galería -->
    <div class="container mt-5">
        <h2 class="mb-4 title-galeria">Galería de Imágenes</h2>
        <div class="row d-flex justify-content-center" id="galeria">
            <!-- Aquí se cargarán las imágenes desde JavaScript -->
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="skew-arriba"></div>
        <div class="ejeZfooter">
            <div class="footer-content">
                <div class="footer-title">
                    <div class="footer-text">
                        <li>
                            <div class="contenedor">
                                <a href="#" class="facebook ptt">
                                    <i><i class="fa-brands fa-facebook"></i> Samu
                                </a>
                                <a href="#" class="whatsapp ptt wsp">
                                    <i><i class="fa-brands fa-whatsapp"></i> 555-123-4567</i>
                                </a>
                            </div>
                            <p>Calle Los Galios #123</p>
                            <p>&copy; Samuel Santos - 2023 | Todos los derechos reservados.</p>
                    </div>
                    </li>
                </div>
            </div>
    </footer>
    <script src="https://kit.fontawesome.com/35db202371.js"></script>
    <script src="../js/galeria.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>